@use'../custom' as *; 

.search{
 
    padding-top: 10rem;

.logo{

    img{
   
    object-fit: contain;
    width: 210px;
    height: 92px;

    @include media-breakpoint-up(md){
        width: 245px;
        height: 92px;
    }

   
    @include media-breakpoint-up(lg){
        width: 272px;
        height: 92px;
    }


}
}

}


  /* import bootstrap */
  @import "../../node_modules/bootstrap/scss/bootstrap.scss";