@use'../custom' as *; 

.buttons{
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 1.7rem; 


}

.btn-primary{
    background-color: $primary !important;
    border: 1px solid transparent !important;
    color: #202124 !important;
    box-shadow: none !important;
    padding: 0.4rem 1.8rem 0.4rem 1.8rem !important;
}



 /* import bootstrap */
 @import "../../node_modules/bootstrap/scss/bootstrap.scss";